@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

/* font-family: 'Yellowtail',cursive; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  user-select: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}